/* app.css */
body {
    padding-top: 50px;
}
@media (max-width: 979px) {
    body {
      padding-top: 0;
    }
}
/* search bar icon */
.navbar-search .search-query {
    padding-left: 29px;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding-left: 30px;
}


.navbar-fixed-top {
    margin-bottom: 4px;
}
.quick-links {
    list-style: none outside none;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 5px 20px;
    text-align: center;
}
.quick-links:first-child {
    min-height: 0;
}
.quick-links li {
    color: #999999;
    display: inline;
    margin: 0 8px;
}
.quick-links .github-btn, .quick-links .tweet-btn, .quick-links .follow-btn {
    position: relative;
    top: 5px;
}


 #editor { 
        margin: 0;
        padding: 0;
        position: relative;
         
        width:100%;
		min-height:10em;
    }
 
 