/* app.css */
body {
    padding-top: 50px;
}
@media (max-width: 979px) {
    body {
      padding-top: 0;
    }
}
.h100{
  height:100%;
}
/* search bar icon */
.navbar-search .search-query {
    padding-left: 29px;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding-left: 30px;
}


.navbar-fixed-top {
    margin-bottom: 4px;
}


 #editor { 
        margin: 0;
        padding: 0;
        position: relative;
         
        width:100%;
		min-height:10em;
    }
 
 